name: Testing

permissions:
  contents: read
  pull-requests: write
  issues: write

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"
  create:
    branches:
      - "main"
    tags:
      - "**"

jobs:
  Test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
    strategy:
      fail-fast: false
    steps:
      # Checkout repository
      - name: Checking Out Repository
        uses: actions/checkout@v4

      # Setup Python
      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"

      # Install system dependencies
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      # Run Tests
      - name: Run Tests with Coverage
        run: |
          set -o pipefail
          pytest stable_datasets/ \
            -m "not large" \
            --verbose \
            --durations=0 \
            --cov=stable_datasets \
            --cov-report=term-missing:skip-covered \
            --cov-report=xml \
            --cov-report=html \
            --junitxml=pytest.xml \
            --cov-report=term | tee pytest-coverage.txt

      # Post Coverage Comment on PR
      # Only run if the PR is not from a fork
      - name: Pytest coverage comment
        if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml

      # Upload Coverage Report as Artifact
      - name: Upload coverage HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: htmlcov/
